<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telemetry Data Dashboard</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <h1>MAVLink Live Parameters</h1>

    <!-- Dedicated Box for LOCAL_POSITION_NED -->
    <div class="param-special-top-box" id="param-LOCAL_POSITION_NED">
        <strong>LOCAL_POSITION_NED</strong>
        <div class="param-data">Loading...</div>
    </div>

    <!-- Container for other parameter boxes -->
    <div class="container" id="paramsContainer">
        <!-- Parameter boxes will be injected dynamically -->
    </div>

    <script src="../static/js/script.js"></script>
</body>
</html>



